.new-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  transition:ease-in-out 1s ;
}

.nublado {
  background-image: url("../../public/images/nublado.webp");
}

.névoa {
  background-image: url("../../public/images/nevoa.webp");
}

.dispersas {
  background-image: url("../../public/images/nuvens-dispersas.webp");
}

.algumas {
  background-image: url("../../public/images/algumas-nuvens.webp");
}

.limpo {
  background-image: url("../../public/images/ceu-limpo.webp");
}

.chuva {
  background-image: url("../../public/images/chuva.webp");
}

.leve {
  background-image: url("../../public/images/chuva-leve.webp");
}

.neve{
  background-image: url("../../public/images/neve.webp");
}